*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


.nav-items{
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-right: 1rem;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('./images/bg.jpg') center/cover no-repeat;
  color: #ffffff; 
  text-align: center; 
}