*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


.nav-items{
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: aliceblue;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url('./images/bg.jpg') center/cover no-repeat;
  text-align: center;
  border: 5px solid #fff; /* Combine border properties into one */
  box-sizing: border-box; /* Include border in the total width and height */
  background-attachment: fixed;
}


.char{
  position: absolute;
  width: 20rem;
  right: 2rem;
  bottom: 8rem;
}

.container2{
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.container3 {
  position: relative;
  width: 100%;
  height: 100vh;
  background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url('./images/bg1.jpg') center/cover no-repeat;
  text-align: center;
  border: 5px solid #fff; /* Combine border properties into one */
  box-sizing: border-box; /* Include border in the total width and height */
  background-attachment: fixed;
}

.container4{
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.container5 {
  position: relative;
  width: 100%;
  height: 100vh;
  background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url('./images/bg2.jpg') center/cover no-repeat;
  text-align: center;
  border: 5px solid #fff; /* Combine border properties into one */
  box-sizing: border-box; /* Include border in the total width and height */
  background-attachment: fixed;
}

